.foto-e-btns {
    height: 12rem;
    width: 100%;
}

.card-animal .card-img-top {
    height: 100%;
}

.card-footer {
    background-color: transparent;
    border-top: 0;
}

.card-animal {
    border: 0;
}

.card-animal .foto-e-btns .card-img-top {
    width: 65%;
}

.card-animal .foto-e-btns button {
    width: 15%;
    height: 100%;
}

.img-modal-compra {
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
}

.pagination {
    padding: 2rem;
}

.foto-e-btns button:disabled {
    opacity:0.15;
}