section {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.tag-animal {
    text-transform: capitalize;
}

.no-margin {
    margin: 0;
}

.top-padding-2 {
    padding-top: 2rem;
}

.padding-left-right-4 {
    padding-right: 4rem;
    padding-left: 4rem;
}

.padding-top-bottom-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}