<div class="container">
	<section>
		<h2>Animais disponíveis</h2>
	</section>

	<div class="row" ng-repeat="rowPets in arrayPets track by $index">
		<div class="card col-3 card-animal" ng-repeat="pet in rowPets">
			<span class="sr-only">Dados do animal de nome {{pet.name}}</span>
			<div class="foto-e-btns">
				<span class="sr-only">Troca de fotos</span>
				<button class="btn btn-outline-secondary" ng-disabled="pet.flagBotaoAnterior" aria-disabled="pet.flagBotaoAnterior" ng-click="botaoFotoAnterior(pet)" aria-label="Foto anterior">
					<span class="sr-only">Foto anterior</span>
					<img src="images/icons/svg/chevron-left.svg">
				</button>
				<img class="card-img-top" ng-src="{{pet.photoUrls[pet.indexFotoAtual]}}" alt="Foto de {{pet.name}}">
				<button class="btn btn-outline-secondary" ng-disabled="pet.flagBotaoProximo" aria-disabled="pet.flagBotaoAnterior" ng-click="botaoProximaFoto(pet)" aria-label="Próxima foto">
					<span class="sr-only">Próxima foto</span>
					<img src="images/icons/svg/chevron-right.svg">
				</button>
			</div>
			<div class="card-body">
				<span class="sr-only">Informações</span>
				<h5 class="card-title"><span class="sr-only">Nome do animal: </span>{{pet.name}}</h5>
				<p class="card-text">Categoria: {{pet.category.name}}</p>
				<p class="card-text">Tags: <span ng-repeat="tag in pet.tags" class="tag-animal">'{{tag.name}}' </span></p>
			</div>
			<div class="card-footer">
				<a href="" class="btn btn-outline-info btn-block" ng-click="clickComprar(pet)" role="button" data-toggle="modal"  data-target=".modalInformacoesPedido">Comprar</a>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<nav aria-label="Paginação">
			<ul class="pagination" aria-label="Botões da paginação">
				<li class="page-item" ng-class="{'active' : $index == paginaAtual}" ng-repeat="pagina in paginas track by $index">
					<a class="page-link" href="" ng-click="clickPagina($index)" role="button">{{$index+1}}<span class="sr-only" ng-hide="$index != paginaAtual"> (atual)</span></a>
				</li>
			</ul>
		</nav>
	</div>

	<!-- Modal Compra -->
	<div class="modal fade modalInformacoesPedido" tabindex="-1" role="dialog" aria-labelledby="modalInformacoesPedidoTitle" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header row">
					<h5 class="modal-title col-10" id="modalInformacoesPedidoTitle">Confirmação da compra</h5>
					<button type="button" class="close col-2" data-dismiss="modal" aria-label="Cancelar compra">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-6">
							<span class="sr-only">Dados do animal de nome {{petEscolhido.name}}</span>
							<div class="foto-e-btns col-12 row">
								<span class="sr-only">Troca de fotos</span>
								<button class="btn btn-outline-secondary col-2" ng-disabled="petEscolhido.flagBotaoAnterior" aria-disabled="petEscolhido.flagBotaoAnterior" ng-click="botaoFotoAnterior(petEscolhido)" aria-label="Foto anterior">
									<span class="sr-only">Foto anterior</span>
									<img src="images/icons/svg/chevron-left.svg">
								</button>
								<img class="col-8 img-modal-compra" ng-src="{{petEscolhido.photoUrls[petEscolhido.indexFotoAtual]}}" alt="Foto de {{petEscolhido.name}}">
								<button class="btn btn-outline-secondary col-2" ng-disabled="petEscolhido.flagBotaoProximo" aria-disabled="petEscolhido.flagBotaoAnterior" ng-click="botaoProximaFoto(petEscolhido)" aria-label="Próxima foto">
									<span class="sr-only">Próxima foto</span>
									<img src="images/icons/svg/chevron-right.svg">
								</button>
							</div>
						</div>
						<div class="col-6">
							<span class="sr-only">Informações</span>
							<h5 class="card-title"><span class="sr-only">Nome do animal: </span>{{petEscolhido.name}}</h5>
							<p class="card-text">Categoria: {{petEscolhido.category.name}}</p>
							<p class="card-text">Tags: <span class="tag-animal" ng-repeat="tag in petEscolhido.tags">'{{tag.name}}' </span></p>
							<p><span class="font-weight-bold">Data de entrega prevista para:</span> {{dataDeEntrega}}</p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar<span class="sr-only"> compra</span></button>
					<a href="#/login" class="btn btn-primary" ng-hide="$storage.userLogged != null" ng-click="redirecionarLogin()" data-dismiss="modal" role="button">Confirmar<span class="sr-only"> compra</span></a>
					<a href="#/comprar" class="btn btn-primary" ng-hide="$storage.userLogged == null" ng-click="clickConfirmarPedido()" data-dismiss="modal" role="button"  data-toggle="modal" data-target="#infoPedidoModal">Confirmar<span class="sr-only"> compra</span></a>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Informações Sobre o Pedido -->
	<div class="modal fade" id="infoPedidoModal" tabindex="-1" role="dialog" aria-labelledby="infoPedidoModalTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="infoPedidoModalTitle">Informações sobre o pedido</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<h5 class="font-weight-bold">Parabéns! Sua compra foi realizada com sucesso.</h5>
					<p><span class="font-weight-bold">Número do pedido:</span> {{numeroDoPedido}}</p>
					<p>Guarde este número para futura consulta.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>
</div>