<section>
    <h2>Busca de Pedidos</h2>
</section>

<div class="container">
    <div class="row">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="busca-por-numero-pedido"><span class="sr-only">Campo de busca por número do pedido</span><img src="images/icons/svg/magnifying-glass.svg" aria-hidden="true"></span>
            </div>
            <input type="number" min="0" class="form-control" placeholder="Número do pedido" aria-label="Campo do número do pedido" aria-describedby="busca-por-numero-pedido">
        </div>
    </div>
</div>